<!DOCTYPE html>

<html>

<head>
    <title>About This App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>We forecast weather for every point on Earth with Superior Accuracy.</p>
        <img class="portrait" src="/img/me.png">
        <p> Serbian guy </p>
    </div>
    
    {{>footer}}
</body>

</html>