<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>    

<body>

    <div class="main-content">
        {{>header}} 
        <p>Find out the weather forecast for your location!</p>

        <form>
            <input placeholder="City's name">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>


</div>
    </div>

    {{>footer}}
        <script src="/js/app.js"></script>
</body>

</html> 
